{% extends '_layouts/_email.twig' %}

{% block content %}
<h2 mc:edit="heading" mc:hideable>Register for Summer Institute for Teens (SIT)</h2>
<h3 mc:edit="subheading" mc:hideable>On Campus + Online</h3>
<div mc:edit="copy">
	<blockquote>
		<ul>
    		<li>July 4-29, 2022</li>
    		<li>Monday to Friday, from 9am-4pm</li>
    		<li>Ages 16-18, or to have completed Grade 10 by July 1st, 2022</li>
    	</ul>
	</blockquote>
	<img alt="Painted wall art depicting three people eating from different cultures." src="https://mcusercontent.com/aaa5bb02d5ff6da16a8980568/images/adb2e81d-bf62-04b3-40a9-417d0e26d23d.jpg"/>
	<p>Prepare for your creative future! The Summer Institute for Teens (SIT) is an intensive pre-university program featuring small classes taught by professional, practicing artists to prepare students for the next step in their creative career.</p>
	<p>This immersive, one-month experience engages students through intensive studio practice, discussion, in-class critique and field trips to engage with the diverse art and design community of Vancouver.</p>
	<span class="indicator indicatorNew">New!</span>
	<p>Choose from 11 on-campus studios, including new studios in Game Design, UX Design, Digital Filmmaking and Creative Coding + Web Design! We are pleased to offer online options for selected studios: Illustration, 2D Animation and Creative Coding + Web Design.</p>
	<p>No previous experience in the subject area is required.</p>
	<a href="https://www.ecuad.ca/" class="button">Learn More and Register</a>
<div mc:edit="copy_2" mc:hideable>
	<hr/>
	<h2>View the Exciting Work Produced at SIT 2021!</h2>
	<p>The SIT program culminates with a public exhibition of student work in Emily Carr’s Michael O’Brian Exhibition Commons.</p>
	<a href="https://www.ecuad.ca/" class="button">View Exhibit</a>
</div>
<div mc:edit="copy_3" mc:hideable>
	<hr/>
	<h2>Junior Art Intensive (JAI) Registration Now Open - ON CAMPUS</h2>
	<blockquote>
		<ul>
    		<li>July 4-29, 2022</li>
    		<li>Monday to Friday, from 9am-4pm</li>
    		<li>Ages 16-18, or to have completed Grade 10 by July 1st, 2022</li>
    	</ul>	
	</blockquote>
	<img alt="Painted wall art depicting three people eating from different cultures." src="https://mcusercontent.com/aaa5bb02d5ff6da16a8980568/images/adb2e81d-bf62-04b3-40a9-417d0e26d23d.jpg"/>
	<p>In this two-week program, creative youth aged 13-15 explore 2D and 3D art-making. Working with professional art instructors in a focused workshop environment, students will complete a variety of projects in drawing, painting, animation and soft sculpture. Sketching and an examination of the creative process will complement hands-on learning to create an engaging and accessible art experience for creative youth of all backgrounds.</p>
	<p>The Junior Art Intensive builds foundational knowledge while emphasizing skill development and helps prepare students for our Summer Institute for Teens.</p>
	<p><a href="https://ecuad.ca">Learn more and register</a></p>
</div>

<div class="cta" mc:hideable>
	<div mc:edit="cta_copy">
		<span class="indicator indicatorFeatured">Featured</span>
		<h2>View the Exciting Work Produced at JAI 2021!</h2>
		<p>The JAI program culminates with a public exhibition of student work in Emily Carr’s Michael O’Brian Exhibition Commons.</p>
		<a href="https://www.ecuad.ca/" class="button">View Exhibit</a>
	</div>
	<div mc:edit="cta_image">
		<img src="https://mcusercontent.com/aaa5bb02d5ff6da16a8980568/images/adb2e81d-bf62-04b3-40a9-417d0e26d23d.jpg"/>
	</div>
</div>

<div mc:edit="copy_4" mc:hideable>
	<h2>Scholarship for Aboriginal Students</h2>
	<p>We are pleased to offer two full scholarships to students of Aboriginal ancestry for the Junior Art Intensive and the Summer Institute for Teens.</p>
	<p><b>Applications close March 1st, 2022.</b></p>
	<p><a href="https://ecuad.ca">SIT scholarship application</a></p>
	<p><a href="https://ecuad.ca">JAI scholarship application</a></p>
	<hr/>
	<p>For up-to-date information on ECU’s response to COVID-19, visit our website.</p>
	<p>Need more info? Visit our FAQs or email the Manager of Youth + Community Programs to learn more about our summer programs.</p>
</div>
{% endblock %}