{% extends '_layouts/_email.twig' %}

{% block content %}
<h2 mc:edit="heading" mc:hideable>Shape culture intentionally.</h2>

<img alt="Painted wall art depicting three people eating from different cultures." src="https://mcusercontent.com/aaa5bb02d5ff6da16a8980568/images/adb2e81d-bf62-04b3-40a9-417d0e26d23d.jpg"/>

<div class="copy" mc:edit="copy" mc:hideable>
	<p>Expand your conceptual, technical, and historical knowledge. Be inspired to add depth to your practice and potential as an artist.</p>
	<p>We offer two master's degrees, paced to fit your busy life. Explore them below.</p>
</div>

<div class="copy copy-simple" mc:edit="copy_section_1" mc:repeatable mc:hideable>
	<hr/>
	<img src="https://mcusercontent.com/aaa5bb02d5ff6da16a8980568/images/e427e1aa-6624-47f9-231e-d5379492ad38.png"/>
	<div>
    	<h2>Fine Arts</h2>
    	<p>For critical thinkers and artists who want to take their creative practice to the next level, an MFA at Emily Carr will allow you to experiment, research, and explore in a unique studio environment.</p>
    	<a href="https://www.ecuad.ca/" class="button">Explore Our MFA Programs</a>
    </div>
</div>

<div class="copy" mc:edit="copy_final" mc:hideable>
	<hr/>
	<a href="https://www.ecuad.ca/" class="button">Explore Our MFA Programs</a>
</div>
{% endblock %}